<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>AngularJs CRUD Project</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="myApp" ng-controller="myController">
    <div class="container">
      <hr>
      <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#registrationModal">Add New</button>
      <h2>All Users</h2>
      <span class="clrarfix"></span>
      <hr>

      <div class="alert alert-info" ng-if="message">
        <button type="button" class="close" ng-click="clearMessage();">&times;</button>
        <strong>Info!</strong> {{message}}.
      </div>

      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Index</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <th scope="row">{{$index+1}}</th>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#registrationModalEdit" ng-click="selectUser(user);">Edit</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#registrationModalDelete" ng-click="selectUser(user);">Delete</button>
          </td>
        </tr>      
      </tbody>
    </table>

    </div>


  <!-- Modal New User Registration -->
  <div class="modal fade" id="registrationModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New User Registration</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label col-sm-3" for="username">Username:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="newUser.username" placeholder="Enter Username">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="fullName">Full name:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="newUser.fullName" placeholder="Enter Full Namae">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="email">Email:</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" ng-model="newUser.email" placeholder="Enter email">
              </div>
            </div>

            <div class="form-group">        
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default" ng-click="saveUser();" data-dismiss="modal">Save</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <!-- Modal Update User Registration -->
  <div class="modal fade" id="registrationModalEdit" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit This User</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label col-sm-3" for="username">Username:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="selectedUser.username" placeholder="Enter Username">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="fullName">Full name:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="selectedUser.fullName" placeholder="Enter Full Namae">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="email">Email:</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" ng-model="selectedUser.email" placeholder="Enter email">
              </div>
            </div>

            <div class="form-group">        
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default" ng-click="updateUser();" data-dismiss="modal">Update</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <!-- Modal Delete User Registration -->
  <div class="modal fade" id="registrationModalDelete" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
          <strong style="color: red;">You are deleting {{selectedUser.fullName}} user's all informations...</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteUser();">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
      
    </div>
  </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>